:root {
  --primary-color: yellow;
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: var(--primary-color);
  text-align: center;
}
p {
    color: white;
    text-align: center;
}